# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Project Specific
# Exclude large data and results to keep repo clean
data/
results/
*.csv
*.png
*.json

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
